<!------------------------------------------------------------------------>
<!-- Modal pop up window used in order to inform that submission is sent-->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><span class="fa fa-check" style="font-size: 50px; color: green;"></center>
          <center><h4 class="modal-title">Technologie soumise avec succès !</h4></center>
        </div>
        <div class="modal-body">
        <center><p>Votre soumission, si conforme, </br> devrait apparaître prochainement sur notre site.</p></center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>

<!------------------------------------------------------------------------>
