.choix{
	/*float:left;*/
	position: relative;
	width: 25%;
	max-width: 200px; /*Largeur du block*/
	text-align: left; /*Alignement des éléments */
	min-height: 300px; /*Hauteur du cadre minimum*/
	font-size: 15px; /*Taille de police*/
	color: black; /*Couleur du texte */
	border-right: solid;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
}

ul{
	display: block;
}

ul > li { 
/*    border: solid;
    border-color: black;
    border-width: 1px;*/
    color: black;
    padding: 8px 8px;
    text-align: left;
    display: block;
}
li > a { 
/*    border: solid;
    border-color: black;
    border-width: 1px;*/
    color: black;
    padding: 8px 8px;
    text-align: left;
    display: block;
}
