.techno {
	/*position: relative;*/
	float: right;
	width: 80%; /*Largeur du block*/
	text-align: left; /*Alignement des éléments */
	min-height: 300px; /*Hauteur du cadre minimum*/
	font-size: 15px; /*Taille de police*/
	color: black; /*Couleur du texte */
}
.tech {
  display: flex;
  flex-wrap: wrap;
}

.tech > a {
  border: solid;
  border-color: grey;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  width: 250px;
  text-align: center;
  line-height: 300px;
  font-size: 15px;
  text-decoration: none;
}

.tech > a:hover {
	border: solid;
	border-color: red;
	border-width: 6px;
}

.nouvrech {
	position: relative;
	right: -80%;
	bottom: 20px;
}
